.eventList {
  display: flex;
  gap: 28px;
}

.eventSection {
  position: relative;
}

.eventSection::before {
  content: '';
  width: 88px;
  height: 150px;
  position: absolute;
  background-image: url('../../../assets/circles.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 100px;
  left: 0;
}