.container section {
  padding: 130px 100px;
  margin: 0 auto;
}

.container .heroSection {
  padding: 0 0 80px 0;
}

/* .container section::before {
  content: '';
  width: 88px;
  height: 150px;
  position: absolute;
  background-image: url('../assets/circles.png');
  background-repeat: no-repeat;
  background-size: contain;
} */

.sectionTitle {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  font-size: 75px;
}

.sectionTitle::before {
  content: '';
  width: 88px;
  height: 150px;
  position: absolute;
  background-image: url('../assets/circles.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: -30px;
  left: -100px
}

.description {
  font-size: 25px;
  line-height: 32px;
  opacity: 0.9;
}

.link {
  position: relative;
  color: var(--green-color);
  font-size: 25px;
  line-height: 32px;
}

.link::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  background-color: var(--green-color);
  transform-origin: right;
  transition: 0.3s ease transform;
}

.link:hover::after {
  transform: scaleX(0);
}