.container section {
  padding: 130px 100px;
  margin: 0 auto;
  overflow: hidden;
}

.container .heroSection {
  padding: 0;
}

.sectionTitle {
  position: relative;
  margin-bottom: 25px;
  font-size: 75px;
}

.sectionTitle::before {
  content: '';
  width: 88px;
  height: 150px;
  position: absolute;
  background-image: url('../assets/circles.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: -30px;
  left: -100px
}

.description {
  font-size: 25px;
  line-height: 32px;
  opacity: 0.9;
}

.link {
  position: relative;
  color: var(--green-color);
  font-size: 25px;
  line-height: 32px;
}

.link::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  background-color: var(--green-color);
  transform-origin: right;
  transition: 0.3s ease transform;
}

.link:hover::after {
  transform: scaleX(0);
}

.backgroundImage {
  position: relative;
  height: 110vh;
  object-fit: none;
}

.mainTitle {
  position: absolute;
  font-size: 100px;
  bottom: 120px;
  left: 100px;
  z-index: 1;
}

.buttonLink {
  font-family: 'Montserrat', serif;
  font-size: 25px;
  color: var(--white-color);
  background-color: var(--green-color);
  transition: 0.3s ease-out background-color;
}