.exhibitsLeft {
  flex-basis: 60%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.exhibitSection {
  position: relative;
}

.exhibitSection::before {
  content: '';
  width: 88px;
  height: 150px;
  position: absolute;
  background-image: url('src/data/circles.png');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 300px;
  right: 0;
}