.exhibitsLeft {
  flex-basis: 60%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.exhibitsTitle {
  margin-bottom: 15px;
}

.exhibitSection {
  position: relative;
}

.exhibitSection::before {
  top: 300px;
  right: 0;
}