.header {
  background-color: var(--header-color);
  width: 100%;
  height: 60px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navList {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 56px;
  gap: 60px;

  li {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Cormorant Unicase", serif;
    font-weight: 300;
    color: var(--white-color);
  }
}

.leftHeaderItem {
  width: 114px;
}

.rightHeaderItem div {
  font-family: "Cormorant Unicase", serif;
  font-weight: 300;
  color: var(--white-color);
}