.videoWrapper {
  height: 90vh;
  position: relative;
}

.videoWrapper::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  content: '';
  background-image: linear-gradient(to top, black, transparent);
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heroWrapper {
  width: 60%;
  position: absolute;
  z-index: 1;
  bottom: 200px;
  left: 100px;
}

.title {
  font-size: 90px;
  color: var(--white-color);
}

.description {
  font-weight: 300;
  font-size: 25px;
  color: var(--white-color);
}

