.videoReviewSection {
  position: relative;
}

.videoReviewSection::before {
  top: 100px;
  left: 0;
}

.videoReviewSection::after {
  content: '';
  width: calc(100% - 200px);
  position: absolute;
  height: 1px;
  background-color: var(--white-color);
  top: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 75px;
}

.videoReviewRight {
  flex-basis: 56%;
}

.videoReview {
  width: 100%;
  margin-bottom: 40px;
}