.eventCard {
  height: 630px;
  flex-basis: calc(25% - 21px);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-out scale;

  cursor: pointer;
}

.image {
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-out filter;
}

.eventCard:hover {
  scale: 0.95;
}

.eventCard:hover .image {
  filter: brightness(60%);
}

.cardText {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  padding: 30px 35px;
  bottom: 0;
  text-align: center;
  background-color: var(--grey-color);
  z-index: 1;
}

.title {
  font-family: 'Geist';
  font-weight: 300;
  font-size: 30px;
}

.description {
  font-size: 25px;
  opacity: 0.9;
}

.link {
  color: var(--white-color);
}

.eventCardWithoutDescr {
  height: 500px;
}

.eventCardWithoutDescr .cardText {
  height: 30%;
}