.wrapper {
  display: flex;
  padding: 60px;
  height: 700px;
  background-color: var(--grey-color);
  gap: 90px;
}

.visitLeft {
  height: 100%;
  aspect-ratio: 1/1;
}

.visitLeft img {
  height: 100%;
  object-fit: cover;
}

.visitRight {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
}

.innerTitle {
  font-family: 'Geist';
  font-size: 30px;
  margin-bottom: 10px;
}

.addressBlock {
  margin-bottom: 60px;
}

.warningBlock {
  margin-top: aut;
  margin-bottom: 30px;
}

.innerButton {
  padding: 15px 55px;
}

.innerButton:hover {
  background-color: var(--hover-color);
}

.innerButton:active {
  background-color: var(--active-color);
}

@media (width < 1650px) {
  .wrapper {
    display: flex;
    height: 580px;
    padding: 60px;
    background-color: var(--grey-color);
    gap: 70px;
  }

  .visitRight {
    width: 50%;
  }

  .innerTitle {
    font-size: 25px;
  }

  .addressBlock {
    margin-bottom: 40px;
  }

  .innerButton {
    padding: 10px 45px;
  }
}