.dateSection {
  position: relative;
}

.dateSection::before {
  content: '';
  width: calc(100% - 200px);
  position: absolute;
  height: 1px;
  background-color: var(--white-color);
  bottom: 0;
}

.dateSection::after {
  content: '';
  width: calc(100% - 200px);
  position: absolute;
  height: 1px;
  background-color: var(--white-color);
  top: 0;
}