.wrapper {
  display: flex;
  align-items: center;
  gap: 100px
}

.aboutLeft {
  flex-basis: 60%;
}

.title {
  margin-bottom: 15px;
}

.title::before {
  top: -30px;
  left: -100px;
}

.text {
  margin-bottom: 30px;
}

/* .aboutSection::before {
  top: 310px;
  left: 0;
} */