.wrapper {
  display: flex;
  align-items: center;
  gap: 100px
}

.aboutLeft {
  flex-basis: 60%;
}

.aboutSection {
  position: relative;
}

.aboutSection::before {
  content: '';
  width: 88px;
  height: 150px;
  position: absolute;
  background-image: url('src/data/circles.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 330px;
  left: 0;
}