.wrapper {
  display: flex;
  align-items: center;
  gap: 100px
}

.aboutLeft {
  flex-basis: 60%;
}

.aboutTitle {
  margin-bottom: 15px;
}

.aboutSection {
  position: relative;
}

.aboutSection::before {
  top: 310px;
  left: 0;
}