.exhibitsLeft, .exhibitsRight {
  flex-basis: 50%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.title {
  margin-bottom: 15px;
}

.title::before {
  content: none;
}

.text {
  margin-bottom: 30px;
}