:root {
  /* Palette */
  --main: #0E0E0C;
  --white: #FFFFFF;
  --green: #C0CF24;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}