@font-face {
  font-family: 'Geist';
  src: url(./fonts/Geist/Geist-Thin.woff2);
}

:root {
  /* Palette */
  --main: #0E0E0C;
  --white: #FFFFFF;
  --green: #C0CF24;
}

html {
  font-size: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Geist", serif;
}

h1 {
  font-family: "Cormorant Unicase", serif;
  font-weight: 200;
}

body {
  background-color: var(--main);
  min-height: 100vh;
}

main {
  width: 100%;
}