.link {
    position: relative;
    color: var(--green);
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -1px;
        background-color: var(--green);
    }

    &:hover {
        opacity: 0.8;
        &::after {
            opacity: 0.8;
        }
    }
}