.link {
    position: relative;
    display: block;
    color: var(--green);
    cursor: pointer;
    overflow: hidden;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 300;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--green);
        transform: scale(0);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    &:hover {
        &::after {
            transform: scale(1);
            transform-origin: center;
            opacity: 1;
        }
    }
}